*, ::before, ::after {
   
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 2px red solid; */
}
.home {
    background-color: #fff;
    position: relative;
    height: 100vh;
    z-index: 5;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #000;
}
.footer {
    background-color: #000;
    height: 50vh;
}

.footer_text {
    color: #fff;
    position: absolute;
}