*, ::before, ::after {
   
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.home {
    background-color: #fff;
    position: relative;
    height: 100vh;
    z-index: 1;
}

.home, 
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 1s;
}
h1 {
    color: #000;
}

.footer {
    background-color: #000;
    height: 50vh;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    
}

.footer_text {
    color: #fff
}