*, ::before, ::after {
   
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.home {
    background-color: #fff;
    position: relative;
    height: 100vh;
    z-index: 5;
}

.home, 
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #000;
}

.footer {
    background-color: #000;
    height: 50vh;    
}

.footer_text {
    color: blue;
    font-size: 3em;
    position: fixed;

 
    z-index: 10;
}